@import "../omarchy/current/theme/waybar.css";

#waybar {
  background-color: #202020;
}

* {
  color: @foreground;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "Iosevka Nerd Font", "IosevkaNerdFont Propo", sans-serif;
  font-size: 14px;
}

.modules-left {
}

.modules-right {
}

#workspaces button {
  all: initial;
  color: @foreground;
  min-width: 14px;
}

#workspaces button.active,
#workspaces button.active * {
  background-color: @foreground;
  color: #111111;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
}

#bluetooth {
  margin-right: 12px;
}

#network {
}

#custom-expand-icon {
}

tooltip {
}

#custom-update {
}

#clock {
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator,
#custom-idle-indicator,
#custom-notification-silencing-indicator {
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-voxtype {
}

#custom-voxtype.recording {
  color: #a55555;
}

#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: #a55555;
}

#custom-weather {
}

#custom-weather.unavailable {
  min-width: 0;
  margin: 0;
  padding: 0;
}
